<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#db0000">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Restonesia</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Menuju ke konten</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">&#8801;</button>
    </div>
    <div class="app-bar__brand">
      <h1>Restonesia</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li>
          <a href="#/">
            <i class="fa fa-home fa-fw" aria-hidden="true"></i> Home
          </a>
        </li>
        <li>
          <a href="#/favorite">
            <i class="fa fa-heart fa-fw" aria-hidden="true"></i> Favorite
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ilham-ramadhan-1077361a3/">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i> About Us
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main id="mainContent"></main>
  <footer>
    <p>Copyright &copy; 2020 - Restonesia</p>
  </footer>
</body>
</html>