* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
  AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #db0000;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

.app-bar .app-bar__navigation ul li a i {
  color: #db0000;
}

/*
  Main Content
*/

main {
  padding: 32px;
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-weight: normal;
  text-align: center;
}

/*
  Restaurants
*/

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/*
  Restaurant Item
*/

.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item__header {
  position: relative;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__image {
  width: 100%;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__city {
  position: absolute;
  padding: 8px;
  top: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.restaurant-item .restaurant-item__content {
  padding: 16px;
}

.restaurant-item .restaurant-item__content p i {
  color: gold;
}

.restaurant-item .restaurant-item__content h3 {
  margin: 10px 0;
}

.restaurant-item .restaurant-item__content h3 a {
  color: #db0000;
  text-decoration: none;
}

.restaurant-item .restaurant-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
  Restaurant
*/

.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.restaurant .restaurant__image {
  width: 100%;
  max-width: 400px;
}

.restaurant .restaurant__info h3 {
  margin: 8px 0;
  font-weight: normal;
}

.restaurant .restaurant__info .restaurant__rating .restaurant__rating__star i {
  color: gold;
}

.restaurant .restaurant__info .restaurant__address i {
  color: #db0000;
}

.restaurant .restaurant__info .restaurant__categories h3 {
  font-weight: bold;
}

.restaurant .restaurant__info .restaurant__categories ul {
  list-style: none;
}

.restaurant .restaurant__info .restaurant__categories ul li {
  display: inline-block;
  background-color: #db0000;
  color: white;
  padding: 4px 16px;
  border-radius: 16px;
}

.restaurant .restaurant__info .restaurant__description {
  margin-top: 16px;
}

.restaurant .restaurant__menu h3 {
  text-align: center;
  margin-top: 16px;
}

.restaurant .restaurant__menu div {
  margin-top: 8px;
}

.restaurant .restaurant__menu h4 {
  border-left: 4px solid #db0000;
  padding-left: 8px;
}

.restaurant .restaurant__menu ul {
  list-style: none;
}

.restaurant .restaurant__menu ul li {
  padding-left: 8px;
}

.restaurant .restaurant__menu ul li i {
  color: #db0000;
}

.restaurant .restaurant__customer-reviews {
  margin-top: 16px;
}

.restaurant .restaurant__customer-reviews h3 {
  margin-bottom: 8px;
}

.restaurant .restaurant__customer-reviews ul {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}

.restaurant .restaurant__customer-reviews .restaurant__customer-reviews__review {
  margin-top: 8px;
  border-left: 4px solid #db0000;
  padding-left: 8px;
}

.restaurant .restaurant__customer-reviews .restaurant__customer-reviews__review .restaurant__customer-reviews__review__date {
  font-size: small;
  font-style: italic;
}

/* .restaurant .restaurant__menu {
  grid-column-start: 1;
  grid-column-end: 3;
}

.restaurant .restaurant__customer-reviews {
  grid-column-start: 1;
  grid-column-end: 3;
} */

footer {
  padding: 16px;
}

footer p {
  text-align: center;
  color: #aaaaaa;
}

/*
  Like
*/

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: white;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}